body {
    font-family: Arial, sans-serif;
    margin:20px;
    text-align:center;
    background-color: aqua;
}
.container {
    max-width: 400px;
    margin:0 auto;
    padding:20px;
    background:white;
    border-radius: 10px;
}
input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}
button {
    padding: 10px 20px;
    color: white;
    background-color: antiquewhite;;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background-color: aquamarine;
}